article {
  .media {
    width: 100%;

    height: 200px;
    @include media-breakpoint-up(lg) {
      height: 300px;
    }

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  table {
    tr {
      td,
      th {
        padding-right: 1em;
      }
      td:last-child(),
      th:last-child() {
        padding-right: 0;
      }
    }
  }
}
