@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src:
    local("Raleway Light"),
    local("Raleway-Light"),
    url("/assets/fonts/Raleway/Raleway-Light.woff2") format("woff2"),
    url("/assets/fonts/Raleway/Raleway-Light.woff") format("woff"),
    url("/assets/fonts/Raleway/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Raleway/Raleway-Light.svg#Raleway") format("svg"),
    url("/assets/fonts/Raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    local("Raleway"),
    url("/assets/fonts/Raleway/Raleway.woff2") format("woff2"),
    url("/assets/fonts/Raleway/Raleway.woff") format("woff"),
    url("/assets/fonts/Raleway/Raleway.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Raleway/Raleway.svg#Raleway") format("svg"),
    url("/assets/fonts/Raleway/Raleway.ttf") format("truetype");
}
