body.homepage {
  $background-height: 800px;
  $background-fade-height: 200px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $background-height;
    z-index: -1;
    background-image: url(/assets/img/homepage-background.jpg);
    background-size: 100% auto;
    background-position: center 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: $background-height - $background-fade-height;
    left: 0;
    right: 0;
    height: $background-fade-height;
    z-index: -1;
    background: white;
    background: linear-gradient(0deg, white 0%, transparent 100%);
  }
}

.main-title {
  margin-top: 10em;
  margin-bottom: 7em;

  img {
    max-height: 16em;
    max-width: 100%;
    width: auto;
  }
}

.achievements {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1300px;
  margin: auto;

  .achievement {
    overflow: hidden;
    color: $white;
    background: $primary;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
    border: 1px solid $primary;

    height: 200px;
    width: 400px;

    .description {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .background img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      height: auto;
      filter: grayscale(80%);
      opacity: 0.2;
      transition: all 0.4s;
    }

    .logo img {
      height: 3em;
      width: auto;
    }

    &:hover {
      .background img {
        width: 100%;
        opacity: 0;
      }
    }
  }
}

.skills {
  article {
    img {
      height: 3.8em;
      width: auto;
    }
  }

  @include media-breakpoint-down(md) {
    article {
      justify-content: stretch;
      flex-direction: column;
    }
  }
  @include media-breakpoint-up(md) {
    article:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }
  }
}

.logos {
  img {
    max-width: 100%;
    max-height: 4em;
    width: auto;
    height: auto;
  }
}
