nav.navbar .container {
  position: relative;

  // Handle shadow:
  box-shadow: 0 15px 10px -20px $gray-700;

  // Handle interaction
  #navbar-toggler-checkbox:checked + * + .navbar-collapse {
    display: block !important;
  }

  .navbar-brand .ouestware-logo {
    margin-top: -0.2em;
    align-self: center;
    max-height: 2em;
  }
}

footer.nav-footer {
  flex-shrink: 0;
  position: relative;

  padding: 3em 0;
  margin-top: 3em;
  background: $light-blue;

  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: 100%;

    height: 6em;
    width: 100%;
    background: $light-blue;
    background: linear-gradient(0deg, $light-blue 0%, transparent 100%);
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    &.smaller-containers .container {
      max-width: 1000px !important;
    }
  }
}
