article.post {
  // General style
  text-align: justify;

  h2,
  h3,
  h4,
  h5 {
    margin-top: 20px;
  }
  h3 {
    font-size: 1.6em;
  }

  pre {
    overflow-x: auto;
  }

  img,
  svg {
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
    display: block;
    max-height: 400px;
    &.full-width {
      width: 100%;
      max-height: unset;
    }
    width: auto;
    height: auto;
  }
  figcaption {
    text-align: center;
  }

  aside {
    float: right;
    position: relative;
    max-width: 33%;
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: normal;
    // font-style: italic;
    text-align: end;
    padding: 0.5em 0.5em 0.5em 2em;
    margin-right: -0.5em;
    font-family: "Courier New", Courier, monospace;
    border-right: 0.5em solid $blue;
  }

  // Style for the footer
  footer {
    ul {
      font-style: italic;
      list-style: none;
      text-align: right;
      li {
        display: inline-block;

        span.metadata {
          font-weight: bold;
        }
      }
    }
    margin-bottom: 10px;
  }

  article div {
    p {
      margin-bottom: 10px;
    }
  }
  .author-date {
    margin-top: 1em;
    text-align: right;
    font-style: italic;
    margin-bottom: 1.5em;
  }

  // ADoc generated notes:
  table {
    td.icon {
      border-right: 1px $blue solid;
      content: " ";
      font-size: 0.8em;
      font-weight: bold;
      padding-right: 0.7em;
    }

    td.content {
      padding-left: 0.5em;
    }
  }
}
