.reference {
  padding-top: 5em;
}

img.confidential-placeholder {
  max-height: 200px;
}

.reference-thumbnail {
  display: inline-block;
  position: relative;
  background: $light-blue;
  padding: 0.4em;

  img {
    max-width: 100%;
    width: auto;
    height: auto;

    @include media-breakpoint-up(md) {
      max-height: 220px;
    }
  }

  .overlay {
    opacity: 0;
    transition: all 0.4s;
    position: absolute;
    inset: 0;

    background: transparentize($primary, 0.2);
    color: white;
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.capture-target {
  display: none;

  &:target {
    display: block;
    position: fixed;
    z-index: $zindex-modal;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .background,
    .content {
      position: absolute;
      inset: 0;
      // comment phrase should not spread in max width in large screen
      .comment {
        display: inline-block;
        max-width: 1200px;
      }
    }
    .background {
      z-index: 1;
      background: transparentize($primary, 0.05);
      cursor: default;
    }
    .content img,
    .content span,
    .content a {
      position: relative;
      z-index: 2;
    }
    .content img {
      // limit height for big squared ratio image to avoid pushing comment out of scope
      // TODO: change layout strategy to avoid that
      max-height: 90%;
    }
  }
}
