.highlight {
  box-shadow: inset 0 -0.4em $light-blue;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.mh-1em {
  max-height: 1em !important;
}
.mh-2em {
  max-height: 2em !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.container-smaller {
  max-width: 1000px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.min-width-0 {
  min-width: 0 !important;
}
