---
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import PageLayout from "../layouts/PageLayout.astro";

const { t } = useTranslate(Astro.currentLocale as LanguageCode);
---

<PageLayout sectionClass="container center" title={t("404-title")}>
  <div class="text-center">
    <article class="page-404">
      <h1>
        <span class="highlight">{t("404-title")}</span>
      </h1>
      <p>{t("404-content")}</p>
    </article>
  </div>
</PageLayout>
