---
import sortBy from "lodash/sortBy";
import _ from "lodash";
import { parseISO } from "date-fns";
import { getCollection } from "astro:content";

import { useTranslate } from "../i18n/Translate";
import blogTranslations from "../i18n/blog";
import type { Event, Post, Publication } from "../data/types";
import { events, publications, releases, productions } from "../data";
import PostThumbnail from "../components/PostThumbnail.astro";
import PublicationComponent from "../components/Publication.astro";
import EventComponent from "../components/Event.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { type LanguageCode } from "../i18n";

const lang = Astro.currentLocale as LanguageCode;
const { t, T } = useTranslate(lang, blogTranslations);

type Entry = Event | Publication | Post;
const posts = await getCollection("posts");
const allEntries: Entry[] = [
  ...(events as Entry[]),
  ...(publications as Entry[]),
  ...(releases as Entry[]),
  ...(productions as Entry[]),
  ...posts
    .filter((p) => p.data.lang === lang)
    .map((p) => ({ ...p, dataType: "post", date: parseISO(p.data.date), rawData: p }) as unknown as Post),
];
const sortedEntries: Entry[] = sortBy(allEntries, (data: Entry) => data.date).reverse();
const collection = _(sortedEntries)
  .groupBy((data) => data.date.getFullYear())
  .map((entries, year) => ({ year, entries: sortBy(entries, (data) => data.date).reverse() }))
  .sortBy(({ year }) => -year)
  .value();
---

<PageLayout sectionClass="container" title={t("blog-page-title")} pageId="blog">
  <h1 class="my-4 py-md-4">
    <span class="highlight"> <T k="blog-title" /></span>
  </h1>

  <br />
  {
    collection.map(({ year, entries }) => (
      <section class="mb-5 pb-5">
        <h2 class="fs-1 mb-4">
          <span class="highlight">{year}</span>
        </h2>
        <div class="row">
          {entries.map((entry) => {
            if (entry.dataType === "post") return <PostThumbnail post={entry.rawData} />;
            if (entry.dataType === "publication") return <PublicationComponent publication={entry} />;
            if (entry.dataType === "event") return <EventComponent event={entry} />;
          })}
        </div>
      </section>
    ))
  }
</PageLayout>
