---
import { FaArrowCircleRight, FaRegCalendarAlt } from "react-icons/fa";

import { formatDate, type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import { type Event, type Reference } from "../data/types";
import fullData from "../data";
import keyBy from "lodash/keyBy";

interface Props {
  event: Event;
}

const lang = Astro.currentLocale as LanguageCode;
const { event } = Astro.props;
const { t, to, TO, translatePath } = useTranslate(lang);

const references = await fullData.references;
const referencesIndex: Record<string, Reference> = keyBy(references, "id");
const reference = event.reference && referencesIndex[event.reference];
---

<article class="col-md-6 px-4 py-3 mb-2">
  <div class="d-flex flex-column flex-md-row align-items-top">
    <div class="flex-shrink-0 me-4 text-primary fs-1 mt-3">{event.icon ? <event.icon /> : <FaRegCalendarAlt />}</div>
    <div class="flex-grow-1 flex-shrink-1 min-width-0">
      <div class="badge rounded-pill bg-light-blue text-dark mb-2">{t("event")}</div>
      <header>
        <h2 class="fs-3">
          <a href={event.url}>{to(event.label)}</a>
        </h2>
      </header>
      {
        event.description && (
          <p class="m-0">
            <TO o={event.description} />
          </p>
        )
      }
      {
        event.location ? (
          <p class="m-0">
            <TO o={event.location} />
          </p>
        ) : undefined
      }
      {
        reference ? (
          <p class="m-0">
            <a
              class="badge rounded-pill bg-light-blue text-dark mb-2 fs-6 text-truncate mw-100"
              href={translatePath(`/references#${reference.id}`)}
            >
              <FaArrowCircleRight /> <TO o={reference.title} />
            </a>
          </p>
        ) : undefined
      }
      <p class="m-0">
        <time date-time={event.date.toISOString()}>{formatDate(event.date, lang)}</time>
      </p>
    </div>
  </div>
</article>
