---
import { Image } from "astro:assets";
import { IoMdMail } from "react-icons/io";

import { customers, achievements } from "../data";
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import translations from "../i18n/home";
import PageLayout from "../layouts/PageLayout.astro";

interface Props {
  lang: LanguageCode;
}

const lang = Astro.currentLocale as LanguageCode;

const images = import.meta.glob<{ default: ImageMetadata }>("../data/home/*.{jpg,jpeg,svg,png}");

const customersOnHome = (await customers).filter((cus) => cus.showOnHome);

const { T, TO, t, to, translatePath } = useTranslate(lang, translations);

const values = [
  { titleKey: "values-foss-title", contentKey: "values-foss-content" },
  { titleKey: "values-data-title", contentKey: "values-data-content" },
  { titleKey: "values-web-title", contentKey: "values-web-content" },
];

const skills = [
  {
    text: t("methods-technologies-data"),
    icons: [
      {
        href: "https://neo4j.com",
        title: "Neo4j",
        src: images["../data/home/logo_neo4j-100.png"](),
        alt: t("img-neo4j"),
      },
      {
        href: "https://www.postgresql.org/",
        title: "PostgreSQL",
        src: images["../data/home/logo_pgsql.svg"](),
        alt: t("img-postgressql"),
      },
      {
        href: "https://www.elastic.co/products/elasticsearch",
        title: "ElasticSearch",
        src: images["../data/home/logo_elasticsearch.svg"](),
        alt: t("img-elasticsearch"),
      },
    ],
  },
  {
    text: t("methods-technologies-data-processing"),
    icons: [
      {
        href: "https://graphql.org/",
        title: "GraphQL",
        src: images["../data/home/logo_graphql.svg"](),
        alt: t("img-graphql"),
      },
      {
        href: "https://www.java.com/",
        title: "Java",
        src: images["../data/home/logo_java.svg"](),
        alt: t("img-java"),
      },
      {
        href: "https://nodejs.org/",
        title: "Node.js",
        src: images["../data/home/logo_nodejs-100.png"](),
        alt: t("img-node-js"),
      },
    ],
  },
  {
    text: t("methods-technologies-front"),
    icons: [
      {
        href: "https://www.reactjs.org/",
        title: "React",
        src: images["../data/home/logo_react.svg"](),
        alt: t("img-react"),
      },
      {
        href: "https://angular.io/",
        title: "Angular",
        src: images["../data/home/logo_angular.svg"](),
        alt: t("img-angular"),
      },
      {
        href: "https://tc39.es/",
        title: "JavaScript",
        src: images["../data/home/logo_javascript.svg"](),
        alt: t("img-javascript"),
      },
    ],
  },
  {
    text: t("methods-technologies-dataviz"),
    icons: [
      {
        href: "http://www.sigmajs.org/",
        title: "Sigma.js",
        src: images["../data/home/logo_sigma.svg"](),
        alt: t("img-sigma.js"),
      },
      {
        href: "https://d3js.org/",
        title: "D3.js",
        src: images["../data/home/logo_d3.svg"](),
        alt: t("img-d3.js"),
      },
      {
        href: "https://developer.mozilla.org/fr/docs/Web/Guide/HTML/HTML5",
        title: "HTML5",
        src: images["../data/home/logo_html5.svg"](),
        alt: t("img-html5"),
      },
    ],
  },
];

const members = [
  { src: images["../data/home/photo_bsimard.jpeg"](), alt: t("img-benoit"), titleKey: "team-benoit" },
  { src: images["../data/home/photo_jacomyal.jpg"](), alt: t("img-alexis"), titleKey: "team-alexis" },
  { src: images["../data/home/photo_anomalie.jpeg"](), alt: t("img-paul"), titleKey: "team-paul" },
];
---

<PageLayout title="OuestWare" bodyClass="homepage">
  <section class="container">
    <div class="row">
      <article class="text-center main-title">
        <img src="/assets/img/logo_ouestware.svg" alt={t("img-ouestware")} />
        <h1 class="fs-1">
          <span class="highlight">OuestWare</span>
        </h1>
        <p class="fs-4">
          <span class="highlight"><T k="site-description" /></span>
        </p>
        <p>
          <a href="mailto:contact@ouestware.com" class="btn btn-primary fs-4">
            <IoMdMail />
            <strong>
              <T k="contact-us" />
            </strong>
          </a>
        </p>
      </article>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row achievements">
      {
        achievements.map((achievement) => (
          <a class="achievement link-unstyled position-relative p-3 m-2" href={to(achievement.url)}>
            {achievement.image && (
              <div class="background">
                <Image src={achievement.image} alt="" />
              </div>
            )}
            <div class="description lead fw-bold">
              <TO o={achievement.label} />
            </div>
            {achievement.logo && (
              <div class="logo text-end">
                <Image src={achievement.logo} alt="" />
              </div>
            )}
          </a>
        ))
      }
    </div>
  </section>

  <br class="my-md-4" />

  <section class="container">
    <section class="row py-4">
      {
        values.map(({ titleKey, contentKey }) => (
          <article class="col-md-4">
            <h2 class="fs-4 mb-3">
              <span class="highlight">
                <T k={titleKey} />
              </span>
            </h2>
            <p>
              <T k={contentKey} />
            </p>
          </article>
        ))
      }
    </section>

    <br class="my-md-4" />

    <section class="skills">
      <h2 class="fs-3 mb-4">
        <span class="highlight">
          <T k="methods-technologies" />
        </span>
      </h2>
      {
        skills.map(({ text, icons }, i) => (
          <article class={"row align-items-center mb-4" + (i % 0 ? "flex-md-row-reverse" : "")}>
            <div class="col-12 col-md-3 text-center">
              {icons.map(({ href, title, src, alt }) => (
                <a class="m-2 d-inline-block" href={href} title={title}>
                  <Image src={src} alt={alt} />
                </a>
              ))}
            </div>
            <p class="col-12 col-md-9">{text}</p>
          </article>
        ))
      }
    </section>

    <br class="my-md-4" />

    <article>
      <div class="logos d-flex flex-row flex-wrap justify-content-center align-items-center my-3">
        {
          customersOnHome.slice(0, 6).map(
            (cus) =>
              cus.logo && (
                <a class="text-decoration-none m-3" href={cus.url}>
                  <Image src={cus.logo} alt={to(cus.name)} />
                </a>
              ),
          )
        }
      </div>

      <p class="text-center">
        <a class="btn btn-primary" href={translatePath("/references")}>
          <strong>
            <T k="open-references" />
          </strong>
        </a>
      </p>
    </article>

    <br class="my-md-4" />

    <article>
      <div class="row">
        {
          members.map(({ src, alt, titleKey }) => (
            <div class="col-md-4">
              <div class="px-5 px-md-0 px-lg-5 mx-5 mb-3">
                <Image class="mw-100 h-auto rounded-circle" src={src} alt={alt} />
              </div>
              <p>
                <T k={titleKey} />
              </p>
            </div>
          ))
        }
      </div>
    </article>
  </section>
</PageLayout>
