---
import i18n, { useTranslatedPath, type LanguageCode, type Translations } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import cx from "classnames";

interface Props {
  translatedPath?: Record<LanguageCode, string>;
  lang?: LanguageCode;
}

const translations: Translations = {
  fr: {
    "fr-version": "Version francophone du site",
    "en-version": "Version anglophone du site",
    "fr-flag": "🇫🇷 FR",
    "en-flag": "🇬🇧 EN",
  },
  en: {
    "fr-version": "French version of the site",
    "en-version": "English version of the site",
    "fr-flag": "🇫🇷 FR",
    "en-flag": "🇬🇧 EN",
  },
};
const { translatedPath, lang: _lang } = Astro.props;

const lang = _lang || (Astro.currentLocale as LanguageCode);

const { t } = useTranslate(lang, translations);
---

<ul class="list-unstyled valign-middle mb-lg-0">
  {
    i18n.locales.map((l, i) => (
      <li class={cx("d-inline", i > 0 && "ms-2")}>
        {l === lang ? (
          <span class="opacity-50" style="filter:saturate(0);">
            {t(`${l}-flag`)}
          </span>
        ) : (
          <a
            title={t(`${l}-version`)}
            class="text-decoration-none"
            href={
              translatedPath && translatedPath[l as LanguageCode]
                ? translatedPath[l as LanguageCode]
                : useTranslatedPath(l as LanguageCode)(Astro.url.pathname)
            }
          >
            <strong>{t(`${l}-flag`)}</strong>
          </a>
        )}
      </li>
    ))
  }
</ul>
