---
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import legalTranslations from "../i18n/legal";
import PageLayout from "../layouts/PageLayout.astro";

const lang = Astro.currentLocale as LanguageCode;
const { T, t } = useTranslate(lang, legalTranslations);
---

<PageLayout sectionClass="container" title={t("legals-page-title")}>
  <h1 class="my-4 py-4">
    <span class="highlight">
      <T k="legals-title" />
    </span>
  </h1>

  <T k="legals-content" />
</PageLayout>
