---
import { Image } from "astro:assets";

export interface Props {
  src: ImageMetadata;
  alt: string;
  title?: string;
  figureClass?: string;
  imageClass?: string;
}
const { src, alt, title, figureClass, imageClass } = Astro.props;
---

{
  src && (
    <figure class={figureClass}>
      <Image src={src} alt={alt} title={title} class={imageClass} />
      {title && <figcaption>{title}</figcaption>}
    </figure>
  )
}
