---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import isDate from "lodash/isDate";
import { parseISO } from "date-fns";

import { getPostPath } from "../data/utils";
import { formatDate, type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";

interface Props {
  post: CollectionEntry<"posts">;
}

const lang = Astro.currentLocale as LanguageCode;
const { post } = Astro.props;
const { t } = useTranslate(lang);
const date = isDate(post.data.date) ? post.data.date : parseISO(post.data.date);
---

<article class="col-12 bg-light-blue px-4 py-3 mb-2">
  <div class="d-flex flex-column flex-md-row align-items-center">
    {
      post.data.coverImageURL ? (
        <Image class="flex-shrink-0 me-4" src={post.data.coverImageURL} alt="" width="120" />
      ) : (
        post.data.ogImageURL && <Image class="flex-shrink-0 me-4" src={post.data.ogImageURL} alt="" width="120" />
      )
    }
    <div class="flex-grow-1 flex-shrink-1">
      <div class="badge rounded-pill bg-light text-dark mb-2">{t("post")}</div>
      <header>
        <h2>
          <a href={getPostPath(post)?.path}>
            {post.data.title}
          </a>
        </h2>
      </header>
      <p class="strong fs-5"><strong>{post.data.excerpt}</strong></p>
      <p class="m-0">{post.data.author || t("ouestware-team")}</p>
      <p class="m-0">
        <time date-time={date.toISOString()}>{formatDate(date, lang)}</time>
      </p>
    </div>
  </div>
</article>
