---
import { IoNewspaperOutline } from "react-icons/io5";
import { FaMicrophoneAlt, FaArrowCircleRight } from "react-icons/fa";
import { FaRocket } from "react-icons/fa6";
import { FaFloppyDisk } from "react-icons/fa6";
import { type ComponentType } from "react";
import keyBy from "lodash/keyBy";

import { formatDate, type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import Wrap from "../components/Wrap";
import { type Publication, type Reference } from "../data/types";
import fullData from "../data";

interface Props {
  publication: Publication;
}

const lang = Astro.currentLocale as LanguageCode;
const { publication } = Astro.props;
const { t, to, TO, translatePath } = useTranslate(lang);

const references = await fullData.references;
const referencesIndex: Record<string, Reference> = keyBy(references, "id");
const reference = publication.reference && referencesIndex[publication.reference];

function localizeNamesIntl(names: string[], locale: string): string {
  const formatter = new Intl.ListFormat(locale, { style: "long", type: "conjunction" });
  return formatter.format(names);
}

const ICONS: Record<Publication["type"], ComponentType> = {
  release: FaFloppyDisk,
  paper: IoNewspaperOutline,
  conference: FaMicrophoneAlt,
  production: FaRocket,
};
---

<article class="col-md-6 px-4 py-3 mb-2">
  <div class="d-flex flex-column flex-md-row align-items-top">
    <div class="flex-shrink-0 me-4 text-primary fs-1 mt-3"><Wrap component={ICONS[publication.type]} /></div>
    <div class="flex-grow-1 flex-shrink-1 min-width-0">
      <div class="badge rounded-pill bg-light-blue text-dark mb-2">{t(publication.type)}</div>

      <header>
        <h2 class="fs-3">
          <a href={publication.url}>{to(publication.label)}</a>
        </h2>
      </header>

      {
        publication.media && (
          <div class="media">
            <Wrap content={publication.media} />
          </div>
        )
      }
      {
        publication.description && (
          <p class="mb-2">
            <TO o={publication.description} />
          </p>
        )
      }
      {publication.authors ? <p class="m-0">{localizeNamesIntl(publication.authors, lang)}</p> : undefined}
      {
        publication.location ? (
          <p class="m-0">
            <TO o={publication.location} />
          </p>
        ) : undefined
      }
      {
        reference ? (
          <p class="m-0">
            <a
              class="badge rounded-pill bg-light-blue text-dark mb-2 fs-6 text-truncate mw-100"
              href={translatePath(`/references#${reference.id}`)}
            >
              <FaArrowCircleRight /> <TO o={reference.title} />
            </a>
          </p>
        ) : undefined
      }
      <p class="m-0">
        <time date-time={publication.date.toISOString()}>{formatDate(publication.date, lang)}</time>
      </p>
    </div>
  </div>
</article>
