---
import isArray from "lodash/isArray";
import { CiZoomIn } from "react-icons/ci";
import { FaTimes } from "react-icons/fa";
import { FaChevronLeft, FaChevronRight } from "react-icons/fa6";
import { PiLinkSimpleThin } from "react-icons/pi";

import { Image } from "astro:assets";
import keyBy from "lodash/keyBy";
import fullData from "../data";
import ConfidentialPlaceholder from "../data/references/logo_confidential.svg";
import { type Reference } from "../data/types";
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import referencesTranslations from "../i18n/references";

interface Props {
  reference: Reference;
}
const { reference } = Astro.props;

const lang = Astro.currentLocale as LanguageCode;
const { T, t, to, TO } = useTranslate(lang, referencesTranslations);

/* preparing templating variables */
const DEFAULT_ANCHOR = "#_";
const customersIndex = keyBy(await fullData.customers, "id");
const customers = reference.customerId
  ? (isArray(reference.customerId) ? reference.customerId : [reference.customerId]).map(
      (customerid) => customersIndex[customerid],
    )
  : undefined;
const servicesIndex = keyBy(fullData.services, "id");
const service = reference.serviceId ? servicesIndex[reference.serviceId] : undefined;
const capturesCount = reference.captures ? reference.captures.length : 0;
const tagsIndex = keyBy(fullData.tags, "id");
---

<article class="reference row" id={reference.id}>
  <div class="col-md-3">
    {
      customers ? (
        <div class="mb-4">
          {customers.map((customer) =>
            customer.logo ? (
              <a href={customer.url}>
                <Image class="mw-100 h-auto mb-1" src={customer.logo} alt={to(customer.name)} />
              </a>
            ) : (
              <a href={customer.url}>
                <TO o={customer.name} />
              </a>
            ),
          )}
        </div>
      ) : (
        <div class="text-center">
          <Image
            class="confidential-placeholder mw-100 h-auto"
            src={ConfidentialPlaceholder}
            alt={t("reference-confidential-customer")}
          />
        </div>
      )
    }

    {
      reference.links && reference.links.length > 0 && (
        <div>
          <ul class="list-unstyled">
            {reference.links.map((link) => (
              <li>
                <a href={to(link.url)}>
                  <PiLinkSimpleThin /> <TO o={link.label} />
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>

  <div class="col-12 col-md-9">
    <h2 class="mb-3">
      <span class="highlight">
        <TO o={reference.title} />
      </span>
    </h2>
    {
      reference.subtitle && (
        <p class="bloc-title">
          <span class="highlight">
            <TO o={reference.subtitle} />
          </span>
        </p>
      )
    }
    <TO o={reference.abstract} />
    {
      service && (
        <p>
          <i>
            <T
              k="reference-service"
              params={{
                service,
              }}
            />
          </i>
        </p>
      )
    }
    {
      reference.tags.length && (
        <div class="mb-3">
          {reference.tags.map((tagId) => {
            const tag = tagsIndex[tagId];

            return (
              tag && (
                <span class="badge rounded-pill bg-light-blue text-dark me-2">
                  <TO o={tag.label} />
                </span>
              )
            );
          })}
        </div>
      )
    }
    {
      !!capturesCount && (
        <section>
          {reference.captures!.map(({ image, comment }, i) => (
            <li class="d-inline-block">
              <a href={`#${reference.id}-img${i + 1}`} class="reference-thumbnail m-1">
                <Image
                  src={image}
                  alt={to(comment)}
                  widths={[Math.round((400 * image.width) / image.height)]}
                  sizes={`${Math.round((400 * image.width) / image.height)}px`}
                />

                <div class="overlay center fs-1">
                  <CiZoomIn />
                </div>
              </a>
            </li>
          ))}
        </section>
      )
    }
    {
      !!capturesCount && (
        <>
          {reference.captures!.map(({ image, comment }, i) => (
            <div tab-index="1" class="capture-target text-white" id={`${reference.id}-img${i + 1}`}>
              <a href={DEFAULT_ANCHOR} class="background" />

              <div class="content d-flex flex-column position-relative w-100 h-100 p-4">
                <div class=" text-center d-flex flex-row mb-3 w-100">
                  <div class="flex-grow-1" style={{ width: "1px" }} />
                  {capturesCount > 1 && (
                    <div class="flex-shrink-0">
                      <a
                        class="btn btn-outline-light"
                        href={`#${reference.id}-img${((i - 1 + capturesCount) % capturesCount) + 1}`}
                      >
                        <FaChevronLeft />
                      </a>
                      <span class="px-4">
                        {i + 1} / {capturesCount}
                      </span>
                      <a class="btn btn-outline-light" href={`#${reference.id}-img${((i + 1) % capturesCount) + 1}`}>
                        <FaChevronRight />
                      </a>
                    </div>
                  )}

                  <div class="flex-grow-1 d-flex justify-content-end" style={{ width: "1px" }}>
                    <a class="btn btn-outline-light" href={DEFAULT_ANCHOR}>
                      <FaTimes />
                    </a>
                  </div>
                </div>

                <div class="flex-grow-1 position-relative flex-shrink-1 center overflow-hidden d-flex flex-column justify-content-center">
                  <Image
                    src={image}
                    alt=""
                    widths={[500, 1000, image.width]}
                    sizes={`(max-width: 750px) 100vw, (max-width: ${image.width}px) calc(100vw - 6em), ${image.width}px`}
                    class="mw-100 h-auto w-auto flex-shrink-1"
                  />
                  <p class=" flex-shrink-0 text-center mb-0 mt-3 fs-5">
                    <span class="comment">
                      <TO o={comment} />
                    </span>
                  </p>
                </div>
              </div>
            </div>
          ))}
        </>
      )
    }
  </div>
</article>
