---
import ReferenceCard from "../components/ReferenceCard.astro";
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import referencesTranslations from "../i18n/references";
import fullData from "../data";
import PageLayout from "../layouts/PageLayout.astro";

const lang = Astro.currentLocale as LanguageCode;
const { T, t, translatePath } = useTranslate(lang, referencesTranslations);

const references = await fullData.references;
---

<PageLayout sectionClass="container" title={t("reference-page-title")} pageId="references">
  <h1 class="my-4 py-md-4">
    <span class="highlight">
      <T k="reference-title" />
    </span>
  </h1>

  {references.map((reference) => <ReferenceCard reference={reference} />)}

  <div class="text-center fs-4 mt-5">
    <p>
      <strong class="highlight">
        <T k="reference-services-presentation" />
      </strong>
    </p>
    <a class="btn btn-primary" href={translatePath("/services")}>
      <strong>
        <T k="reference-open-services" />
      </strong>
    </a>
  </div>
</PageLayout>
