---
import { Image } from "astro:assets";
import isArray from "lodash/isArray";
import keyBy from "lodash/keyBy";
import fullData from "../data";
import { type Service } from "../data/types";
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import serviceTranslations from "../i18n/services";

interface Props {
  service: Service;
}
const { service } = Astro.props;

const lang = Astro.currentLocale as LanguageCode;
const { T, TO, translatePath } = useTranslate(lang, serviceTranslations);

/* preparing templating variables */
const referencesIndex = keyBy(await fullData.references, "id");
const reference = service.showcasedReferenceId ? referencesIndex[service.showcasedReferenceId] : undefined;
const customersIndex = keyBy(await fullData.customers, "id");
const customers =
  reference && reference.customerId
    ? (isArray(reference.customerId) ? reference.customerId : [reference.customerId]).map((c) => customersIndex[c])
    : undefined;
---

<article id={service.id} class="service">
  <h2>
    <span class="highlight">
      <TO o={service.title} />
    </span>
  </h2>

  <div class="row align-items-center my-4">
    <div class="col-md-4 text-center mb-3">
      <Image class="mw-100 mh-100 h-auto w-auto" src={service.image} alt="" />
    </div>
    <div class="col-md-8">
      <TO o={service.description} />

      <p class="text-center mb-2 mt-4">
        <strong>
          <TO o={service.catchPhrase} />
        </strong>
      </p>

      {
        reference && (
          <p class="text-center">
            <i>
              <strong>
                <a href={translatePath(`/references#${reference.id}`)}>
                  <TO o={reference.title} />
                </a>
              </strong>
              {customers && (
                <>
                  &nbsp;
                  <T k="services-showcase-customer" />
                  {customers.map((c, i) => (
                    <>
                      <a href={c.url}>
                        <TO o={c.name} />
                      </a>
                      {customers.length > 0 && i < customers.length - 1
                        ? i < customers.length - 2
                          ? ", "
                          : lang === "fr"
                            ? " et "
                            : " and "
                        : ""}
                    </>
                  ))}
                </>
              )}
            </i>
          </p>
        )
      }
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h4>
        <span class="highlight">
          <T k="services-your-needs" />
        </span>
      </h4>
      <ul class="ps-3">
        {
          service.yourNeeds.map((o) => (
            <li>
              <TO o={o} />
            </li>
          ))
        }
      </ul>
    </div>

    <div class="col-md-6">
      <h4>
        <span class="highlight">
          <T k="services-our-solutions" />
        </span>
      </h4>
      <ul class="ps-3">
        {
          service.ourSolutions.map((o) => (
            <li>
              <TO o={o} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</article>
