---
import { services } from "../data";
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import servicesTranslations from "../i18n/services";
import PageLayout from "../layouts/PageLayout.astro";
import Service from "./Service.astro";

const lang = Astro.currentLocale as LanguageCode;
const { T, t, translatePath } = useTranslate(lang, servicesTranslations);
---

<PageLayout sectionClass="container" pageId="services" title={t("services-page-title")}>
  <h1 class="my-4">
    <span class="highlight">
      <T k="services-title" />
    </span>
  </h1>

  {services.map((service) => <Service service={service} />)}

  <div class="text-center fs-4 mt-5">
    <p>
      <strong class="highlight">
        <T k="services-references-presentation" />
      </strong>
    </p>
    <a class="btn btn-primary" href={translatePath("/references")}>
      <strong>
        <T k="services-open-references" />
      </strong>
    </a>
  </div>
</PageLayout>
