---
import fromPairs from "lodash/fromPairs";
import identity from "lodash/identity";

import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import { parseISO } from "date-fns";
import type { HeadMeta } from "../../../../data/types";
import { getPostPath } from "../../../../data/utils";
import { formatDate, type LanguageCode } from "../../../../i18n";
import { useTranslate } from "../../../../i18n/Translate";
import PageLayout from "../../../../layouts/PageLayout.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts
    .map((post) => {
      const pathData = getPostPath(post);

      if (pathData) {
        const { year, month, day, slug } = pathData;
        const translations = posts.filter((p) => p.data.ref === post.data.ref);
        const translatedPath =
          post.data.ref && translations
            ? (fromPairs(translations.map((p) => [p.data.lang, getPostPath(p)?.path])) as Record<LanguageCode, string>)
            : undefined;
        return { params: { year, month, day, slug }, props: { post, translatedPath } };
      } else console.error(`Post ${post.slug}  has a wrong date ${post.data.date}`);
    })
    .filter(identity);
  return paths;
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post, translatedPath } = Astro.props;
const { Content } = await post.render();

/** Open Graph and other Meta Header */
const metas: HeadMeta[] = [{ property: "og:title", content: post.data.title }];
if (post.data.excerpt) {
  metas.push({ name: "description", content: post.data.excerpt });
  metas.push({ property: "og:description", content: post.data.excerpt });
}
if (post.data.tags) metas.push({ name: "keywords", content: post.data.tags.join(", ") });
if (post.data.ogImageURL)
  metas.push({ property: "og:image", content: new URL(post.data.ogImageURL.src, Astro.site).toString() });

const { t } = useTranslate(post.data.lang);
---

<PageLayout
  sectionClass="container"
  title={post.data.title}
  translatedPath={translatedPath}
  lang={post.data.lang}
  metas={metas}
  smallerContainers
>
  <article class="post" item-scope item-type="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="my-4 py-4" item-prop="name headline">
        <span class="highlight">{post.data.title}</span>
      </h1>
      {post.data.excerpt && <meta item-prop="description" content={post.data.excerpt} />}
      {post.data.coverImageURL && <img item-prop="image" src={`${post.data.coverImageURL}`} alt="" />}
    </header>
    <Content class="post-content" item-prop="articleBody" />

    <footer>
      <div class="author-date">
        {post.data.author || t("ouestware-team")} ⋅{" "}
        <time date-time={post.data.date}>{formatDate(parseISO(post.data.date), post.data.lang)}</time>
      </div>
    </footer>
  </article>

  <br />
</PageLayout>
