---
import { IoLogoTwitter, IoMdMail } from "react-icons/io";
import { IoLogoMastodon } from "react-icons/io5";
import { FaLinkedin } from "react-icons/fa";
import { FaGitlab } from "react-icons/fa6";

import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import translations from "../i18n/footer";

interface Props {
  translatedPath?: Record<LanguageCode, string>;
  lang?: LanguageCode;
}
const { lang: _lang } = Astro.props;

const lang = _lang || (Astro.currentLocale as LanguageCode);

const { T, translatePath } = useTranslate(lang, translations);
---

<footer class="nav-footer">
  <div class="container">
    <p>
      <img class="mh-2em align-text-bottom" src="/assets/img/logo_ouestware.svg" alt="" />{" "}
      <a href={translatePath("/")} class="fs-3"> OuestWare</a>
    </p>

    <div class="row">
      <div class="col-md-8">
        <p class="mb-0">
          <T k="site-description" />
        </p>

        <p>
          <T k="footer-alliance-libre" />
        </p>

        <p class="mb-0">
          <T k="footer-credits" />
        </p>
        <p>
          <a href={translatePath("/legal")}>
            <T k="footer-legals" />
          </a>
        </p>

        <ul class="list-unstyled">
          <li class="d-inline-block me-2">
            <a href="https://www.linkedin.com/company/ouestware/">
              <FaLinkedin />
            </a>
          </li>
          <li class="d-inline-block me-2">
            <a href="https://gitlab.com/ouestware">
              <FaGitlab />
            </a>
          </li>
          <li class="d-inline-block me-2">
            <a href="https://twitter.com/ouestware">
              <IoLogoTwitter />
            </a>
          </li>
          <li class="d-inline-block me-2">
            <a rel="me" href="https://mastodon.social/@ouestware">
              <IoLogoMastodon />
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 text-md-end">
        <p>
          OuestWare
          <br />
          13 place Sophie Trébuchet
          <br />
          44000 NANTES
          <br />
          FRANCE
        </p>
        <a href="mailto:contact@ouestware.com" class="btn btn-primary">
          <IoMdMail />
          <span>
            <T k="contact-us" />
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
