---
import LangSwitcher from "../components/LangSwitcher.astro";
import { type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import headerTranslations from "../i18n/header";
import cx from "classnames";

interface Props {
  lang?: LanguageCode;
  translatedPath?: Record<LanguageCode, string>;
  pageId?: string;
}
const { translatedPath, lang: _lang, pageId } = Astro.props;

const lang = _lang || (Astro.currentLocale as LanguageCode);
const { T, translatePath } = useTranslate(lang, headerTranslations);

const pages = [
  { id: "references", href: translatePath("/references"), titleKey: "header-references" },
  { id: "services", href: translatePath("/services"), titleKey: "header-services" },
  { id: "blog", href: translatePath("/blog/"), titleKey: "header-blog" },
];
---

<nav class="navbar sticky-top navbar-expand-md bg-transparent-white p-0">
  <div class="container py-2 align-items-md-baseline pt-md-2">
    <a class="mt-md-1 navbar-brand d-flex flex-row align-items-baseline" href={translatePath("/")}>
      <img class="me-2 d-inline-block ouestware-logo" src="/assets/img/logo_ouestware.svg" alt="" />
      <strong class="d-none d-sm-block">OuestWare</strong>
    </a>
    <input type="checkbox" class="d-none" id="navbar-toggler-checkbox" />
    <label for="navbar-toggler-checkbox" class="cursor-pointer">
      <div class="navbar-toggler" tabindex="1">
        <span class="navbar-toggler-icon"></span>
      </div>
    </label>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {
          pages.map(({ id, href, titleKey }) => (
            <li class={cx("nav-item", id === pageId && "active")} aria-current={id === pageId ? "page" : undefined}>
              <a class="nav-link" href={href}>
                <span class={cx(id === pageId && "highlight")}>
                  <T k={titleKey} />
                </span>
              </a>
            </li>
          ))
        }
      </ul>
      <LangSwitcher translatedPath={translatedPath} lang={lang} />
    </div>
  </div>
</nav>
