---
import type { HeadMeta } from "../data/types";
import { langToLocale, type LanguageCode } from "../i18n";
import { useTranslate } from "../i18n/Translate";
import "../styles/main.scss";

interface Props {
  title: string;
  lang?: LanguageCode;
  metas?: HeadMeta[];
  bodyClass?: string;
}

const { title, lang: _lang, metas, bodyClass } = Astro.props;
const lang = _lang || (Astro.currentLocale as LanguageCode);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { t } = useTranslate(lang);
---

<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t("site-description")} />
    <meta property="og:locale" content={langToLocale[lang]} />
    <link rel="shortcut icon" type="image/png" href="/assets/img/logo_ouestware_144.png" />
    <link rel="apple-touch-icon" href="/assets/img/logo_ouestware_128.png" />
    <link rel="canonical" href={canonicalURL} />
    {metas && metas.map((meta) => <meta property={meta.property} name={meta.name} content={meta.content} />)}
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <slot />
    <!-- Matomo Image Tracker-->
    <img
      referrerpolicy="no-referrer-when-downgrade"
      src="https://matomo.ouestware.com/matomo.php?idsite=3&rec=1"
      style="position:absolute;width:1px;bottom:100%;"
      alt=""
    />
    <!-- End Matomo -->
  </body>
</html>
