---
import cx from "classnames";

import type { HeadMeta } from "../data/types";
import type { LanguageCode } from "../i18n";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Layout from "./Layout.astro";

interface Props {
  pageId?: string;
  title: string;
  sectionClass?: string;
  lang?: LanguageCode;
  translatedPath?: Record<LanguageCode, string>;
  metas?: HeadMeta[];
  bodyClass?: string;
  smallerContainers?: boolean;
}

const { title, sectionClass, translatedPath, lang, metas, bodyClass, smallerContainers, pageId } = Astro.props;
---

<Layout title={title} lang={lang} metas={metas} bodyClass={bodyClass}>
  <div id="root" class={cx(smallerContainers && "smaller-containers")}>
    <Header translatedPath={translatedPath} lang={lang} pageId={pageId} />

    <div class={cx("flex-grow-1", sectionClass)}><slot /></div>

    <Footer translatedPath={translatedPath} lang={lang} />
  </div>
</Layout>
